# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
env/

# Entornos y secretos
.env
.env.*
!.env.example

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Editores / SO
.vscode/
.idea/
.DS_Store
*.swp

# Docs y misc
README.md
*.md
